<div class="main-container">
    <div class="card-columns">
        <div class="card" *ngFor="let drink of drinks">
            <div class="card-img">
                <img class="thumbnail" src="assets/img/Spezi_F_0_5l_300dpi_CMYK_1501.jpg">
            </div>
            <div class="card-block">
                <p class="card-text">
                    <span> {{drink}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="Controls">
        <clr-icon shape="users"></clr-icon>
    </div>
</div>