<div class="clr-main-container">
  <header class="header-6">

    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="trailer"></clr-icon>
        <span class="title">Marbach Cloud</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
      <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
      </a>
    </div>
  </header>
  <div class="content-contaier">
    <app-list></app-list>
  </div>
</div>